<!doctype html>
<html>

<head>
  <title>Socket.IO chat</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap" rel="stylesheet">
</head>

<body>
  <a href="/"> < change difficulty</a>
  <h1> Room <span id="roomName"><%= category %></span></h1>
  <h1><span id="currentWord">Press ready to start the game</span></h1>
  <div id="counter"></div>
  <div id="playerOverview" class="invisible">
    <div><span id="readyCount">0</span> / <span id="playerCount">0</span> players ready</div>
  </div>
  <div id="placeholder" class="invisible"><div><span></span><span></span>Game is playing</div></div>
  <ul id="messages"></ul>
  <br>
  <form class="typeform" action="#" id="typeField">
    <input id="m" readonly autofocus autocomplete="off" />
    <!-- <button>Send</button> -->
  </form>
  <button id="readyButton">ready</button>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/main.js"></script>
</body>

</html>