<!doctype html>
<html>

<head>
  <title>Socket.IO chat</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap" rel="stylesheet">
</head>

<body>
  <h1><span id="currentWord"></span></h1>
  <div id="counter"></div>
  <ul id="messages"></ul>
  <br>
  <button id="readyButton">ready</button>
  <form action="#" id="typeField">
    <input id="m" autofocus autocomplete="off" />
    <!-- <button>Send</button> -->
  </form>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/main.js"></script>
</body>

</html>