* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #2e2d2d;
}

a {
  color: white;
  text-decoration: none;
  background-color: #f5d21f;
  width: 100%;
  position: absolute;
}

a:visited {
  color: white;
}

a:hover {
  color: #5fcca6
}

body>h1 {
  background-color: #f5d21f;
  color: #2e2d2d;
  padding: .3em;
  text-align: center;
}

body>h1:last-of-type {
  padding-bottom: .4em;
}

#currentWord {
  user-select: none;
}

.invisible {
  opacity: 0;
}

.serverMessage {
  color: red;
}

#typeform {
  background: #000;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#typeform input {
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: .5%;
}

#typeform button {
  width: 9%;
  background: green;
  border: none;
  padding: 10px;
  color: white;
}

#roomForm {
  background-color: #e4e4e4;
  padding: 1em;
  width: 20em;
  height: 10em;
  margin: 10em auto 0 auto;
  text-align: center;
}

#roomForm input {
  width: 10em;
  padding: 1.2em;
  background-color: #5fcca6;
  border: none;
  margin-top: 1em;
  font-weight: 600;
}

#roomForm p {
  margin-bottom: 1em;
}

#category {
  width: 10em;
  font-size: 1.3em;
}

#playerOverview {
  padding: 1em;
  font-size: 1.3em;
  font-weight: 800;
  background-color: #e4e4e4;
  border-bottom: 3px solid black;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

#counter {
  position: absolute;
  top: 1em;
  left: 1em;
  font-size: 2em;
  font-weight: bold;
}

#readyButton {
  position: absolute;
  width: 8%;
  bottom: 4px;
  right: 4px;
  color: black;
  background-color:	#5fcca6;
  padding: .6em;
}
